{% extends 'index.html' %}
{% load static %}
{% block content %}

    <section id="game-details">
        <h1>Product Details</h1>
        <div class="info-section">
            <div class="game-header">
                <!-- game image -->
                <img class="details"
                     src="{{ product.imageUrl }}"
                     alt='game image'/>
                <!-- title and rating -->
                <h1>{{ product.name }} <span class="levels">Price: {{ product.price|floatformat:2 }}лв</span></h1>
                <!-- game category -->
            </div>
        </div>
    </section>

{% endblock content %}